= form_with model: @ad do |f|
  - if @ad.images.any?
    %strong Attachments:
    %ul
      - @ad.images.each do |file|
        -unless file.id.nil?
          %li
            = image_tag file.variant(resize: "100x100", format: :jpeg)
            = link_to 'Remove', delete_file_ad_url(file.id), method: :delete, data: { confirm: 'Are you sure?' }
  .mb-3.row
    .col-sm-2.col-form-label
      = f.label :title
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .mb-3.row
    .col-sm-2.col-form-label
      = f.label :body
    .col-lg-10
      = f.text_area :body_ad, class: 'form-control'
  .mb-3.row
    .col-sm-2.col-form-label
      = f.label :images
    .col-sm-10
      = f.file_field :images, multiple: true, id:'files'
      %output#list
  .mb-3.row
    .col-sm-2.col-form-label
      = f.label :tags
    .col-sm-10
      = f.collection_select :tag_ids, @ad.tags, :id, :title, {}, multiple: true, |
        class: 'js-multiple-select', data: {'ajax-url': '/api/tags'}                |
  = f.submit "Submit", class: 'btn btn-primary'
  :javascript
    function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object
  
      // Loop through the FileList and render image files as thumbnails.
      for (var i = 0, f; f = files[i]; i++) {
  
        // Only process image files.
        if (!f.type.match('image.*')) {
          continue;
        }
  
        var reader = new FileReader();
  
        // Closure to capture the file information.
        reader.onload = (function(theFile) {
          return function(e) {
            // Render thumbnail.
            var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" src="', e.target.result,
                              '" title="', theFile.name, '"/>'].join('');
            document.getElementById('list').insertBefore(span, null);
          };
        })(f);
  
        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
      }
    }
    document.getElementById('files').addEventListener('change', handleFileSelect, false);
    
