
%section.mb-5
  %h2= t '.search_by_tags'
  = form_with url: ads_path, method: :get do |f|
    .mb-3
      = f.collection_select :tag_ids, (@tags || []), :id, :title, {selected: params[:tag_ids]}, |
        multiple: true, required: true,                                                         |
        class: 'js-multiple-select', data: {'ajax-url': '/api/tags'}                            |
    = f.submit 'Sumbit', class: 'btn btn-primary'
= paginate @ads
= render @ads
= paginate @ads