.card{:style => "width: 50rem;"}
.card-body
  %h5.card-title= "#{ad.user.name}"
  %p.card-text= "Title: #{ad.title}"
  %p.card-text= "Content: #{ad.content}"
  %p.card-text= "Status: #{ad.state}"
  =render ad.tags
  %p
    - if ad.images.any?
      - ad.images.each do |file|
        = image_tag file.variant(resize: "100x100",format: :jpeg)
  %p Posted at #{ad.created_at} .
  -# %p.card-text
  -#   Status: #{ad.status}   
%p     
  - if current_user == ad.user
    -if ad.draft?
      = link_to 'Edit', edit_ad_path(ad), class: 'btn btn-secondary'
      = link_to 'Send for moderation', send_to_moderate_ad_path(ad.id), class: 'btn btn-secondary',
          method: :patch
    -if ad.archival?
      = link_to 'Refresh', refresh_ad_path(ad.id), class: 'btn btn-secondary',
          method: :patch
    -if ad.rejected?
      = link_to 'Refresh', correct_ad_path(ad.id), class: 'btn btn-secondary',
          method: :patch
    = link_to 'Delete', ad_path(ad), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'}