<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t 'name' %></th>
      <th scope="col"><%= t 'email'%></th>
      <th scope="col"><%= t 'role'%></th>
      <th scope="col"><%= t 'created_at' %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>


