%table.table.table-striped.table-hover
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"}= t 'name'
      %th{:scope => "col"}= t 'email'
      %th{:scope => "col"}= t 'role'
      %th{:scope => "col"}= t 'created_at'
      %th{:scope => "col"}
  %tbody
    = render @users
